<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brick By Brick</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>

    <div id="container">

        <div class="header">
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 30px;">
                <img style="max-width: 100px; max-height: 100px; border: 6px; border-style: solid; border-color: rgb(31, 31, 31);" src="/images/logo.png" alt="Image">
                <h2 style="font-family: 'Tahoma'; font-size: xx-large; font-weight: 300;">Brick By Brick</h2>
            </div>
        </div>

        <div style="background-color: #91c068; width: 90%; border-color: #91c068; border-style: solid; border-width: 5px; text-align: center; padding-top: 2%; padding-bottom: 1%; border-bottom-width: 0px;">
            <h1 style="font-family: 'Poppins'; font-size: xx-large; font-weight: 500; color: white;">Bem-vindo à Brick by Brick!</h1>
         </div>

        <div class="page_body" style="justify-content: space-evenly; border-color: #91c068; background-color: #D9F7BE; display: flex; flex-wrap: wrap;">
            <!-- Conteudo para a div central da pagina home-->

            <!-- Introducao da loja -->
              <%- include('partials/store_introduction_card', {
                  cardColor: '#F6D7B0',
                cardBorder: '#a0886b',
                Font_Color: '#684c00',
                Special_Phrase: 'O Mundo da Criatividade em Suas Mãos',
                Card_Text: 'Na Brick by Brick, oferecemos uma variedade incrível de blocos de montar com a qualidade das melhores marcas do mercado.',
                Card_Text_Second_Line: 'Deixe sua imaginação voar e crie desde pequenas construções até verdadeiras cidades em miniatura!'
            }) %>
        

            <!-- Historia da loja -->
              <%- include('partials/store_introduction_card', {
                  cardColor: '#FF9CAB',
                cardBorder: '#720000',
                Font_Color: '#680c00',
                Special_Phrase: 'Nossa História',
                Card_Text: 'A Brick by Brick nasceu do amor por criatividade e inovação. Fundada  por entusiastas da construção, nossa missão sempre foi tornar a diversão acessível a todos.',
                Card_Text_Second_Line: 'Começamos como uma pequena loja de bairro, e graças à paixão de nossos clientes, crescemos para nos tornar uma das principais lojas especializadas em blocos de montar. Hoje, oferecemos uma ampla variedade de produtos para todas as idades, incentivando a imaginação e o aprendizado através da construção.'
            }) %>
            

            <!-- Tipos de produtos oferecidos pela loja -->
             <%- include('partials/store_introduction_card', {
                  cardColor: ' #C7EFFE',
                cardBorder: '#0055BF',
                Font_Color: '#002468',
                Special_Phrase: 'Nossos Produtos',
                Card_Text: 'Blocos Clássicos: Um conjunto de blocos coloridos e versáteis para criar qualquer coisa que sua imaginação desejar. Cidade Moderna: Construa uma cidade inteira com prédios, ruas e veículos detalhados.',
                Card_Text_Second_Line: 'Espaço e Aventura: Explore o universo com naves espaciais, astronautas e planetas incríveis.'
            }) %>
            
        </div>

        <!--- div container para a apresentação da loja-->
        <div style="background-color: #91c068; width: 90%; border-color: #91c068; border-style: solid; border-width: 5px; text-align: center; padding-top: 2%; padding-bottom: 1%; border-bottom-width: 0px;">
            <h1 style="font-family: 'Poppins'; font-size: xx-large; font-weight: 500; color: white;">Conheça alguns dos nossos produtos</h1>
         </div>
        <div id="store_products_display" class="page_body" style="gap: 30px; justify-content: space-around; border-color: #91c068; background-color: #D9F7BE; padding: 50px; min-width: none; width: 85%; max-width: 90%;">

            <!-- Card para o Conjunto Casa de Passaros + Chalés Acouchegantes -->
           <%- include('partials/product_card', {
                brickColor: '#F6D7B0',
                brickBorder: '#a0886b',
                cardColor: '#F6D7B0',
                cardBorder: '#a0886b',
                title: 'Conjunto Casa de Passaros + Chalés Aconchegantes',
                image: '/images/set3.webp'
            }) %>
          
            
            <!-- Card para o Conjunto biblioteca britanica -->
             <%- include('partials/product_card', {
                brickColor: '#f6e9b0',
                brickBorder: '#cfc595',
                cardColor: '#f6e9b0',
                cardBorder: '#cfc595',
                title: 'Conjunto Biblioteca Britanica',
                image: '/images/set1.jpg'
            }) %>
           

             <!-- Card para o Conjunto case moana e stich -->
            <%- include('partials/product_card', {
                brickColor: '#d3e2ff',
                brickBorder: '#96b8fc',
                cardColor: '#d3e2ff',
                cardBorder: '#96b8fc',
                title: 'Conjunto Casa Moana e Stitch',
                image: '/images/set2.webp'
            }) %>
           
        

        </div>

        <div class="footer">
            <h1 style="font-size: 20px;">Projeto - Brick By Brick</h1>
        </div>

    </div>

    
    
</body>
</html>